@use '@styles/mixin.module.scss' as *;
@use '@styles/variable.module.scss' as *;
.container {
    @include flex_box_custom(center, center, 0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerMenu {
    @include flex_box_custom(center, center, 20px);
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 5px);
    width: 26px;
    height: 26px;
    background-color: $primary_color;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}
.menu::after {
    content: '';
    display: block;
    height: 2px;
    background-color: $primary_color;
    margin-top: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
    transform: scale(1);
}
